*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

body{
  width: 1260px;
  background-color: #17162E;
  font-family: 'Kumbh Sans', sans-serif;
  color: #FFFFFF;
  padding: 2rem;
  margin: 0 auto;
}

button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

main{
  width: 100%;
}

.title{
  font-size: 36px;
  font-weight: 600;
  
  text-align: center;
  color: #FFF;
  
  margin-top: 62px;
  margin-bottom: 48px;
}

.form-container{
  position: relative;
  
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0.5rem 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;

  border-radius: 0.5rem;
}

.form-container .field-movie-name{
  width: 100%;
  height: 100%;
  
  padding: 0.5rem;
  
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  background-color: transparent;
  
  outline: none;
  border: none;
}

.form-container .field-movie-name::placeholder{
  color: #8A8A8A;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-container .btn-search{
  position: absolute;
  right: 0;
  padding: 20px;
}


.showOnlyFavorites{
  text-align: center;
  margin-bottom: 4rem;
  color: #FFF;
}

.checkbox, .checkbox-heart{
  display: none;
}

.checkbox + label::before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #706EA8;
  background-color: transparent;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 11px;
}

.checkbox:checked + label::before{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='8' viewBox='0 0 11 8' fill='none'%3E%3Cpath d='M10 1L3.8125 7.1875L1 4.375' stroke='white' stroke-width='1.125' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #706EA8;
}




/* Movie */

.list-movies{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 68px;
}

.movie{
  width: 100%;
  max-width: 1024px;
  
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 2rem; 

  padding: 2rem;

  background: #1D1C3B;
  color: #FFF;
  border-radius: 0.5rem; 
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.movie-informations{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.mask-circle{
  max-width: 139px;
  height: 139px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.30);
}

.movie-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.title-movie{
  color: #FFF;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 500;
  width: 268px;
}


.rating-favorites{
  display: flex;
  gap: 45px;
  align-items: center;
  margin-top: 20px;

}

.rating, .favorite{
  display: flex;
  align-items: center;
  gap: 12px;
}

.rating span, .favorite span{
  color: #FFF;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}


.movie-description{
  max-width: 50%;
}

.movie-description .description{
  color: #ACACAC;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.875rem;
}
